@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #32292f;
  --background:  #d1e3dd;
  --details: #6e7dab;
  --details-emphasize: #5762D5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #d1e3dd;
    --background: #575366;
  }
}

body {
  color: var(--font-color);
  background: var(--background);
}

/* COLORS */

.lightBlue {
  color: var(--details)
}

.darkBlue {
  color: var(--details-emphasize);
}